<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Lista de tareas</title>


    <!--   ------------------------>

</head>

<body>
    <h1>Tareas Pendientes</h1>

    <!--Fomrulario para el ingreso de nuevas tareas-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label>Tarea</label>
            <input type="text" class="form-control" placeholder="Ingrese la descripción de la tarea"
                name="tarea_descripcion">
        </div>
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" class="form-control"
                placeholder="Ingrese el correo electrónico del responsable de la tarea" name="tarea_correo"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label>Prioridad</label>
            <select class="form-control" name="tarea_prioridad">
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alta">Alta</option>
            </select>
        </div> <br>
        <input type="submit" value="Registrar" class="btn btn-primary">
    </form><br>

    <!--Controlador 1.1 Tabla para mostrar las tareas-->
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Descripción de la tarea</th>
                <th scope="col">Correo electronico</th>
                <th scope="col">Prioridad</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                {% for tarea in lista_tareas %}
                <!--Mostrar la descripción de la tarea-->
                <th>{{tarea.tarea_descripcion}}</th>
                <!--Mostrar correo electrónico del responsable-->
                <th>{{tarea.tarea_correo}}</th>
                <!--Mostrar la prioridad de la tarea-->
                <th>{{tarea.tarea_prioridad}}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!--Funcion controlador para borrar registros-->
    <form action="{{url_for('borrar')}}" method="post" class="card-body">
        
        <button type="submit" class="btn btn-danger mb-2">Borrar registros</button>
    
    </form>

    <!--Funcion controlador para guardar registros-->
    <form action="{{url_for('guardar')}}" method="post" class="card-body">
        
        <button type="submit" class="btn btn-success">Guardar</button>
    
    </form>


</body>

<footer>
    Elaborado por Capt. Castro Leopoldo<br>
    km 24 1/2 vía Quevedo<br>
    2022
</footer>

</html>